<h1>Editing item</h1>

<%= start_form_tag :action => 'update', :id => @item %>
  <%= render :partial => 'form' %>
  <%= submit_tag 'Update' %>
<%= end_form_tag %>

<%= link_to 'Back', :action => 'list' %>
