<%= error_messages_for 'category' %>

<!--[form:category]-->
<p><label for="category_name">Name</label><br/>
<%= text_field 'category', 'name'  %></p>

<p><label for="category_color">Color (ie: #00F)</label><br/>
<%= text_field 'category', 'color'  %></p>

<!--[eoform:category]-->
